/**/.ipynb_checkpoints/*


# gihyeon
/gihyeon_ws/generate_data_for_yolo_train/generated_data/*
/gihyeon_ws/generate_data_for_yolo_train/raw_data/*

/gihyeon_ws/frame_work/**/*pyc
/gihyeon_ws/frame_work/**/*JPG
/gihyeon_ws/frame_work/**/*pt